#privacy {
    background-color: #111010;

    .navBar {
        border-bottom: 1px solid #575757;
        padding: 20px;

        #pageLogo {
            width: 85px;
        }
    }



    .content {


        .title {
            background-color: #161515;


            ul {
                color: rgba(255, 255, 255, .75);
                font-size: 12px;

                li.active {
                    color: rgba(255, 255, 255, .45);
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: -15px;
                        top: 5px;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: rgba(255, 255, 255, .45);
                    }
                }
            }
        }

        h1 {
            font-size: clamp(1.6875rem, 0.6792rem + 4.2453vw, 4.5rem);
        }
    }

    .text {
        background-color: #111010;

        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            font-size: clamp(1.125rem, 0.9458rem + 0.7547vw, 1.625rem);
        }
    }

    #text {
        h2 {
            font-size: 2rem;
        }
    }
}