#heroAR {

    font-family: "El Messiri", sans-serif;
    background-image:
        linear-gradient(90deg, rgba(17, 16, 16, .73) 0%, rgba(17, 16, 16, .73) 73.44%, rgba(17, 16, 16, .73) 100%),
        url('../../assets/start-your-dream-business-in-dubai-v21.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    direction: rtl;

    .heroLeft {

        @media (max-width: 1200px) {
            .rocket {
                width: 100px;
            }
        }

        @media (max-width: 767px) {
            .rocket {
                width: 50px;
            }
        }


        h1 {
            font-size: clamp(2.4375rem, 1.8799rem + 2.549vw, 4.0625rem);
            line-height: 1.6;
            text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
        }
    }


    .phInput {
        direction: ltr;
    }

}