.bank {

    background-color: whitesmoke;
    padding-top: 50px;
    overflow: hidden;

    h2 {
        font-size: clamp(1.625rem, 1.3958rem + 1.0476vw, 2.3125rem);
        font-weight: bold;
        margin: 30px 0;
    }


    .bankImages {

        gap: 35px;

        .img {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;

        }

    }


    button {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        letter-spacing: 1px;
    }



    .right-col {

        @media screen and (max-width: 769px) {


            img {
                width: 520px !important;
                height: auto;
                margin-right: -280px;
                max-width: initial;
                overflow-x: hidden;
            }
        }


    }


}