#footerAR {

    direction: rtl;
    font-family: "El Messiri", sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.722), rgb(0 0 0 / 80%)),
        url('../../assets/footer.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .footerLeft {
        .phInput {
            direction: ltr;
        }
    }


    .footerBottom {
        background-color: #212529;
        color: white;
        font-size: 9px;
        direction: ltr;


        .imgs {
            img {
                width: 55px;
                height: 28px;
                background: white;
            }
        }
    }



}