@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


:root {}

html {

  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

body {
  position: relative;
}





#hero {
  background-image:
    linear-gradient(90deg, rgba(17, 16, 16, .73) 0%, rgba(17, 16, 16, .73) 73.44%, rgba(17, 16, 16, .73) 100%),
    url('./assets/start-your-dream-business-in-dubai-v21.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.under-line {
  position: relative;
}

.under-line::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  width: 50%;
  background: linear-gradient(-90deg, #912583, #e94057, #f27022);
}



.under-lineAR {
  position: relative;
}

.under-lineAR::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 4px;
  width: 50%;
  background: linear-gradient(-90deg, #912583, #e94057, #f27022);
}


.contactPhone .phoneClick {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: linear-gradient(-90deg, #912583, #e94057, #f27022);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s;
  position: relative;

}

.contactPhone .phoneClick::after {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  border: 1px solid rgb(237 84 65);
  height: 60px;
  transform-origin: center center;
  box-sizing: border-box;
  z-index: 9;
  transition: 0.5s;
  animation: BorderAnim 3s -0.5s linear infinite;
}


.contactPhone ul {
  transition: all 0.5s linear;
}

.contactPhone li {
  width: 50px;
  height: 50px;
  padding: 10px;
  background: linear-gradient(-90deg, #912583, #e94057, #f27022);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: background-color 0.5s;

}


.contactPhone .phoneClick:hover,
.contactPhone li:hover {
  background: white;
}


.contactPhone .cllback::before {
  content: "Request a Callback";
}


.contactPhone .callUs::before {
  content: "Call Us Now !";
}

.contactPhone li::before {
  position: absolute;
  padding: 2px 30px;
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  text-align: center;
  width: max-content;
  right: 120%;
  font-size: 15px;
}


@keyframes BorderAnim {
  0% {
    transform: scaleX(1) scaleY(1);
  }

  50% {
    transform: scaleX(1.4) scaleY(1.4);
  }

  100% {
    transform: scaleX(1.8) scaleY(1.8);
    opacity: 0;
  }
}



.requestCallback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.483);
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  z-index: 99999999;
  transition: all 0.5s ease-in-out;
}

.requestCallback .requestBox {
  position: relative;
  padding: 30px;
  border: 1px solid white;
  border-radius: 20px;
  background: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}


.requestCallback .closeRequest {
  position: absolute;
  top: 10px;
  right: 10px;
  filter: invert(1);
  cursor: pointer;
}




.textMainColor {
  background: linear-gradient(-90deg, #912583, #e94057, #f27022);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



.lang {
  font-weight: bold;
}






.react-tel-input .form-control {
  position: relative;
  font-size: 14px !important;
  letter-spacing: .01rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px !important;
  margin-left: 0 !important;
  border-radius: 5px !important;
  line-height: 25px !important;
  height: 40px !important;
  width: 100% !important;
  outline: none !important;
}

.react-tel-input .flag-dropdown {
  height: 40px !important;
  margin: auto !important;
}